
body{
    margin: 0 auto;
    text-align: center;
    width: 1200px;
}
table{
    margin: 0 auto;
    width: 1200px;
    border: 1px solid gainsboro;
}
th{
    border: 1px solid gainsboro;
    padding: 5px;
}
form{
    margin: 0 auto;
    width: 40%;
}
input, label{
    margin-left: 3.5%;
    width: 150px;
    border-radius: 4px;
    margin-bottom: 10px;
}
button{
    margin-left: 3.5%;
    width: 32%;
    background-color: #B0E8B2;
}
#mensagem{
    background-color: red;
    color: lime;
}
.player{
    background-color: black;
}
.Knife {
    background-color: silver;
}
.fire{
    background-color: red;
}